NEXT_PUBLIC_SUPABASE_URL=https://taalribntdkowoqltvqw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
ANTHROPIC_API_KEY=your_anthropic_key_here
CLOUDINARY_CLOUD=dy9wfqhry
CLOUDINARY_API_KEY=592743487577154
CLOUDINARY_SECRET=your_cloudinary_secret_here
